<div class="row row-cols-1 row-cols-md-3 g-2 mx-5 my-3">
    <div class="col">
        <div class="card text-white bg-secondary h-100">
            <div class="card-body">
                <h5 class="card-title">Number of fails</h5>
                <p class="card-text">{{passwordSetting ? passwordSetting.numberFail : ""}}</p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card text-white bg-secondary h-100">
            <div class="card-body">
                <h5 class="card-title">Pattern</h5>
                <p class="card-text">Password pattern has to include: {{passwordSettingValues.numberUppercase}}
                    uppercase,
                    {{passwordSettingValues.numberLowercase}} lowercase, {{passwordSettingValues.numberDigit}} digit,
                    {{passwordSettingValues.numberSpetial}} special !@#$&*,
                    {{passwordSettingValues.numberCharacter}} characters</p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card text-white bg-secondary h-100">
            <div class="card-body">
                <h5 class="card-title">Expire Date</h5>
                <p class="card-text">{{passwordSetting ? passwordSetting.expireDate : ""}}</p>
            </div>
        </div>
    </div>
</div>

<form class="w-100" #createPasswordSettingForm="ngForm">
    <div class="card mx-5 my-3">
        <div class="card-header">
            Password Number of fails before deactivating user
        </div>

        <div class="card-body">
            <div class="mb-3">
                <label for="inputNumberFail" class="form-label">Number of fails</label>
                <input type="number" class="form-control" id="inputNumberFail" aria-describedby="numberFailHelp"
                    [(ngModel)]="passwordSettingValues.numberFail" #numberFail="ngModel" name="numberFail"
                    pattern="^(0|[1-9][0-9]*)$" required>

                <div *ngIf="numberFail.invalid && (numberFail.dirty || numberFail.touched)"
                    class="alert alert-primary p-0">
                    <div *ngIf="numberFail.errors?.['required']">
                        Number of fails is required.
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="card mx-5 my-3">
        <div class="card-header">
            Password Pattern
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col">
                    <div class="mb-3">
                        <label for="exampleInputNumberFail" class="form-label">Number of characters</label>
                        <input type="number" class="form-control" id="exampleInputNumberFail"
                            aria-describedby="numberFailHelp" [(ngModel)]="passwordSettingValues.numberCharacter"
                            #numberCharacter="ngModel" name="numberCharacter" pattern="^(0|[1-9][0-9]*)$" required>

                        <div *ngIf="numberCharacter.invalid && (numberCharacter.dirty || numberCharacter.touched)"
                            class="alert alert-primary p-0">
                            <div *ngIf="numberCharacter.errors?.['required']">
                                Number of characters is required.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="mb-3">
                        <label for="exampleInputNumberFail" class="form-label">Number of uppercase</label>
                        <input type="number" class="form-control" id="exampleInputNumberFail"
                            aria-describedby="numberFailHelp" [(ngModel)]="passwordSettingValues.numberUppercase"
                            #numberUppercase="ngModel" name="numberUppercase" pattern="^(0|[1-9][0-9]*)$" required>

                        <div *ngIf="numberUppercase.invalid && (numberUppercase.dirty || numberUppercase.touched)"
                            class="alert alert-primary p-0">
                            <div *ngIf="numberUppercase.errors?.['required']">
                                Number of uppercase is required.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="mb-3">
                        <label for="exampleInputNumberFail" class="form-label">Number of lowercase</label>
                        <input type="number" class="form-control" id="exampleInputNumberFail"
                            aria-describedby="numberFailHelp" [(ngModel)]="passwordSettingValues.numberLowercase"
                            #numberLowercase="ngModel" name="numberLowercase" pattern="^(0|[1-9][0-9]*)$" required>

                        <div *ngIf="numberLowercase.invalid && (numberLowercase.dirty || numberLowercase.touched)"
                            class="alert alert-primary p-0">
                            <div *ngIf="numberLowercase.errors?.['required']">
                                Number of lowercase is required.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="mb-3">
                        <label for="exampleInputNumberFail" class="form-label">Number of digits</label>
                        <input type="number" class="form-control" id="exampleInputNumberFail"
                            aria-describedby="numberFailHelp" [(ngModel)]="passwordSettingValues.numberDigit"
                            #numberDigit="ngModel" name="numberDigit" pattern="^(0|[1-9][0-9]*)$" required>

                        <div *ngIf="numberDigit.invalid && (numberDigit.dirty || numberDigit.touched)"
                            class="alert alert-primary p-0">
                            <div *ngIf="numberDigit.errors?.['required']">
                                Number of digits is required.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="mb-3">
                        <label for="exampleInputNumberFail" class="form-label">Spetial characters</label>
                        <input type="text" class="form-control" id="exampleInputNumberFail"
                            aria-describedby="numberFailHelp" [(ngModel)]="passwordSettingValues.spetialCharacter"
                            #spetialCharacter="ngModel" name="spetialCharacter" required>

                        <div *ngIf="spetialCharacter.invalid && (spetialCharacter.dirty || spetialCharacter.touched)"
                            class="alert alert-primary p-0">
                            <div *ngIf="spetialCharacter.errors?.['required']">
                                Spetial characters are required.
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="mb-3">
                        <label for="exampleInputNumberFail" class="form-label">Number of spetial characters</label>
                        <input type="number" class="form-control" id="exampleInputNumberFail"
                            aria-describedby="numberFailHelp" [(ngModel)]="passwordSettingValues.numberSpetial"
                            #numberSpetial="ngModel" name="numberSpetial" pattern="^(0|[1-9][0-9]*)$" required>

                        <div *ngIf="numberSpetial.invalid && (numberSpetial.dirty || numberSpetial.touched)"
                            class="alert alert-primary p-0">
                            <div *ngIf="numberSpetial.errors?.['required']">
                                Number of spetial characters is required.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="card mx-5 my-3">
        <div class="card-header">
            Password Expiration Date
        </div>
        <div class="card-body">
            <div class="mb-3">
                <label for="exampleInputNumberFail" class="form-label">Password expiration date</label>
                <input type="date" class="form-control" id="exampleInputNumberFail" aria-describedby="numberFailHelp"
                    [(ngModel)]="passwordSettingValues.expireDate" #expireDate="ngModel" name="expireDate" required
                    min="{{date | date: 'yyyy-MM-dd'}}">

                <div *ngIf="expireDate.invalid && (expireDate.dirty || expireDate.touched)"
                    class="alert alert-primary p-0">
                    <div *ngIf="expireDate.errors?.['required']">
                        Password expiration date is required.
                    </div>
                    <div *ngIf="expireDate.errors?.['min']">
                        Expire date can not be greater than today.
                    </div>
                </div>
            </div>
        </div>
    </div>

    <button type="button" class="btn btn-success mx-5 my-3" (click)="createPasswordSetting()"
        [disabled]="createPasswordSettingForm.invalid">Set Password
        Configuration</button>
</form>