<nav class="navbar navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand">DSS</a>
        <div class="d-flex">

        </div>
    </div>
</nav>

<div class="container">
    <div class="row">
        <div class="col">
            <div class="chart-container">
                <canvas id="Wins">{{ chartWins }}</canvas>
            </div>
        </div>
        <div class="col">
            <div class="chart-container">
                <canvas id="Goals">{{ chartGoals }}</canvas>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="chart-container">
                <canvas id="RedCards">{{ chartRedCards }}</canvas>
            </div>
        </div>
        <div class="col">
            <div class="chart-container">
                <canvas id="YellowCards">{{ chartYellowCards }}</canvas>
            </div>
        </div>
    </div>
</div>